{% extends 'apps/base.html' %}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 mt-3">
                <div class="card p-3 shadow-sm">
                    {% for message in messages %}
                    <div class="alert alert-info mt-2 text-center" role="alert">
                        {{message}}
                    </div>
                    {% endfor %}
                    <form action="{% url 'change-password' %}" method="post">
                        {% csrf_token %}
                        <h2>Change Password</h2>
                        <div class="mt-3">
                            <label for="old Password">Old Password</label>
                            <input class="form-control" type="text" name="old_Password" placeholder="Enter old password" required>
                        </div>
                        <div class="mt-3">
                            <label for="new password">New Password</label>
                            <input class="form-control" type="text" name="new_Password" placeholder="Enter new password" required>
                        </div>
                        <div class="mt-3">
                            <label for="repeat password">Repeat Password</label>
                            <input class="form-control" type="text" name="re_Password" placeholder="Enter pepeat password" required>
                        </div>
                        <div class="mt-3">
                            <input type="submit" class="btn btn-success mt-3" value="Change Password">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock  %}