{% load static %}
<footer class="mt-3">
    <div class="container">
       <div class="row">
          <div class="col-md-5">
              <div class="full">
                 <div class="logo_footer">
                   <h3>Second Hand Book <br> Selling</h3>
                 </div>
                 <div class="information_f">
                   <p><strong>ADDRESS:</strong> Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                   <p><strong>TELEPHONE:</strong> +91 1234567890</p>
                   <p><strong>EMAIL:</strong> abc@gmail.com</p>
                 </div>
              </div>
          </div>
          <div class="col-md-7">
             <div class="row">
             <div class="col-md-7">
                <div class="row">
                   <div class="col-md-6">
                <div class="widget_menu">
                   <h3>Menu</h3>
                   <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="/about">About</a></li>
                      <li><a href="/contact">Contact</a></li>
                   </ul>
                </div>
             </div>
             <div class="col-md-6">
                <div class="widget_menu">
                   <h3>Account</h3>
                   <ul>
                      <li><a href="/login">Login</a></li>
                      <li><a href="/register">Register</a></li>
                      <li><a href="/">Shopping</a></li>
                   </ul>
                </div>
             </div>
                </div>
             </div> 
             </div>
          </div>
       </div>
    </div>
 </footer>
 <!-- footer end -->
 <div class="cpy_">
    <p>© 2021 All Rights Reserved By</p>
 </div>
 