{% extends 'apps/base.html' %}
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 mt-3">
                <div class="card p-3 shadow-sm">
                    <form action="">
                        <h2>Forgot Password</h2>
                        <label for="Email">Email</label>
                        <input class="form-control" type="email" name="email", placeholder="Enter email">
                        <input type="submit" class="btn btn-success mt-3" value="Forgot">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock  %}