{% load static %}
<!-- carousel -->

  <div id="header-carousel" class="owl-carousel owl-theme">
    <div class="item">
      <img  src="{% static 'images/banner/banner1.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="item">
      <img  src="{% static 'images/banner/banner2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="item">
      <img  src="{% static 'images/banner/banner3.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <!-- end slider section -->