@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

/*header section*/
  .header_section {
      padding: 5px 0;
      /* box-shadow: 0px 2px 5px 0px #ddd; */
  }
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .navbar-brand {
    font-family: 'Playfair Display', serif;
  }
  
  .navbar-brand span {
    font-weight: bold;
    font-size: 32px;
    color: #000000;
  }
  
  .custom_nav-container {
    padding: 0;
  }
  
  .custom_nav-container .navbar-nav {
    margin-left: auto;
  }
  
  .custom_nav-container .navbar-nav .nav-item .nav-link {
      padding: 5px 20px;
      color: #131313;
      text-align: center;
      text-transform: uppercase;
      border-radius: 5px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      font-weight: 700;
  }
  
  .custom_nav-container .navbar-nav .nav-item .nav-link svg {
    width: 17px;
    height: auto;
    fill: #000000;
    margin-bottom: 2px;
  }
  
  .custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
    color: #f7444e;
  }
  
  .custom_nav-container .navbar-nav .nav-item:hover .nav-link svg, .custom_nav-container .navbar-nav .nav-item.active .nav-link svg {
    fill: #f7444e;
  }
  
  .custom_nav-container .nav_search-btn {
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    color: #000000;
  }
  
  .custom_nav-container .nav_search-btn:hover {
    color: #f7444e;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #000000;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    top: -10px;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-toggler span::after {
    top: 10px;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
  }


  .search_bar {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  .search_bar_btn{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }

  .header_menu_btn{
    color: #fff;
    font-weight: 600;
    border: 1px solid #6c757d ;
    padding: 5px;

  }
  .header_menu_btn:hover{
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
  }

  @media (max-width:991px) {
    .collapse{
      margin-top: 10px !important;
    }
  }
  
  /*end header section*/
  
/* Product section */
.product_section h1{
    margin-bottom: 50px;
    font-size: 2.5rem;
    font-weight: bold;
}
.product_section .box {
  position: relative;
  padding: 20px 0px;
  background-color: #f7f8f9;
  -webkit-transition: all .3s;
  transition: all .3s;
  overflow: hidden;
  box-shadow: 0px 1px 14px 1px #BBB4B4;
  cursor: pointer;
}
.product_section .box:hover{
  box-shadow: 0 0 0 0 #fff;
}

.product_section .box .img_box img {
  max-width: 100%;
  max-height: 200px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product_section .box .show_details{
  margin-top: 10px;
  visibility: visible;
}
.product_section .box .show_details:hover{
  visibility: visible;

}
.show_details .product_view_btn{
  color: #fff;
  background-color: #eb115a;
  padding: 10px 40px 10px 40px;
}


/* Details page */
.add_to_cart{
  background-color: #ffd814;
  color: #000;
  padding: 5px 20px 5px 20px;
  border: 1px solid #ffd814;
  border-radius: 10px;
  margin-bottom: 5px;
}
.add_to_cart:hover{
  background-color: #fff;
  border: 1px solid #000;
}
.btn_buy{
  background-color: #ffa41c;
  color: #000;
  padding: 5px 20px 5px 20px;
  border: 0;
  border-radius: 10px;
  margin-bottom: 5px;
  border: 1px solid #ffa41c;
}
.btn_buy:hover{
  background-color: #fff;
  border: 1px solid #000;
}





  /** footer **/
  
  footer {
      background: #f8f8f8;
      padding: 90px 0 70px;
  }
  
  .logo_footer{
      margin-bottom: 30px;
  }
  .logo_footer a{
    font-size: 30px;
      color: #000 !important;
      font-weight: 800;
  }
  
  .information_f p {
      margin-bottom: 1.2rem;
      line-height: 25px;
      font-size: 15px;
  }
  
  .widget_menu h3 {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.2px;
      margin-bottom: 25px;
  }
  
  .widget_menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  
  .widget_menu ul li {
      float: left;
      width: 100%;
  }
  
  .widget_menu ul li a {
      font-size: 15px;
      color: #000;
      margin-bottom: 0;
      float: left;
      width: 100%;
      margin-top: 5px;
  }
  
  .field {
      display: flex;
  }
  
  .widget_menu {
      float: left;
      width: 100%;
  }
  

  
  
  /** cpy **/

.cpy_ {
    background: #222;
    text-align: center;
    padding: 20px 0;
}

.cpy_ p {
    margin: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}

.cpy_ p a {
    margin: 0;
    color: #f7444e;
    font-size: 15px;
    font-weight: 400;
}


/*=============== message ==================*/
.e_message{
  text-align: right;
}
.e_message span{
  padding-left:3rem;
  padding-right:3rem;
  margin-right: 1rem;
  font-family: fangsong;
  font-weight: bolder;
}
.btn-close {
    height: 0 !important;
    margin-top: 0.35rem !important;
}
.btn-close:focus {
  box-shadow: none !important;
}

/* sidebar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #0a0814;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-top: 50px;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color:red
}


/* Cart */
.cart{
  position: relative;
}
.cart_value{
  position: absolute;
  margin-top: -50px;
  margin-left: 10px;
}

@media (max-width:991px) {
  .cart_value{
    position: absolute;
    margin-top: -50px;
    margin-left: 26.3rem;
  }
}
@media (max-width:769px) {
  .cart_value{
    position: absolute;
    margin-top: -50px;
    margin-left: 19.2rem;
  }
}
@media (max-width:575px) {
  .cart_value{
    position: absolute;
    margin-top: -50px;
    margin-left: 13.2rem;
  }
}